bin
obj
/MOD/bin
/MOD/obj
/BildSql/bin
/BildSql/obj
/UniCS.TM/bin
/UniCS.TM/obj
/.vs
/Test/Program.cs
/packages
/SharedLib/FileLogger.cs

.DS_Store
/Front/appsettings.json
/Front/Properties/PublishProfiles/FolderProfile.pubxml
/Front/Properties/PublishProfiles/FolderProfile.pubxml.user
Front/Properties/launchSettings.json
/DLL/Logs/2023/01/ExellioFP_2023011717012023.log
/Front/Properties/launchSettings.json
