bin
obj
/MOD/bin
/MOD/obj
/BildSql/bin
/BildSql/obj
/UniCS.TM/bin
/UniCS.TM/obj
/.vs
/Test/Program.cs
/packages
/SharedLib/FileLogger.cs

.DS_Store
/SharedLib/dll/ModernExpo.SelfCheckout.Devices.BST106M60S.old
