bin
obj
/MOD/bin
/MOD/obj
/BildSql/bin
/BildSql/obj
/UniCS.TM/bin
/UniCS.TM/obj
/.vs
/Test/Program.cs
/packages
/SharedLib/FileLogger.cs

.DS_Store
Front/appsettings.json
Front/appsettings.json
Front/appsettings.json
Front/appsettings.json
/Front/Properties/PublishProfiles/FolderProfile.pubxml
/Front/Properties/PublishProfiles/FolderProfile.pubxml.user
