<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="PrintServer.WebPrintServer" behaviorConfiguration="ServiceBehaviour">
				<!-- Service Endpoints -->
				<!-- Unless fully qualified, address is relative to base address supplied above -->
				<endpoint address ="http://localhost:8089" binding="webHttpBinding" contract="PrintServer.IWebPrintServer" behaviorConfiguration="web">
					<!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
				</endpoint>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<appSettings>
		<add key="URL" value="http://localhost:8089/WebPrintServer" />
		<!--<add key="NamePrinter_68" value="Microsoft Print to PDF" />
		<add key="NamePrinter_9" value="Microsoft Print to PDF" />
		<add key="NamePrinterYelow_9" value="Microsoft Print to PDF" />-->
		<add key="NamePrinter_9" value="BTP-NOV-WHITE" />
		<add key="NamePrinterYelow_9" value="BTP-NOV-YELLOW" />
		<add key="NamePrinter_68" value="BTP-NOV-WHITE" />
		<add key="NamePrinterYelow_68" value="BTP-NOV-YELLOW" />

		<add key="PathLogo" value="d:\Vopak_BW.bmp" />
		<add key="PathLog" value="D:\Temp" />

	</appSettings>

</configuration>
